@import "./styles.css";

/*Los  '::'  sirve para los  */



article > p::before{
    content:("Hola");
    color: orangered;
}

article::after{
content: ("Adiós");
color: olivedrab;
}
/*
section::before{
    counter-increment: section;
    content: counter(section);
}
*/




