@import "css/extras.css";

/* Se van a ejecutar 
Especificidad(Es el rango de importancia que tendrá en el 
Html):
a -En linea
b -Id
c -Class
d -Etiquetas
*/

main > .importante{
    color: rgb(43, 226, 98);
}
/*Escificidad de esta etiqueta
Especificidad : (0(En línea),0(en Id),0(En class),0(En etiquetas))
*/
h1{
    color: rgb(255, 0, 0);
}
body{
    color: aqua;
    background: azure;
}

