/*@import "Hospedaje.css";*/
container{
    width: 60%;
}
p{
    background: aqua;
    width: 20%;
    padding: 1rem;
    margin: 5%;
    float: left;
}
aside{
    border-bottom: 1rem solid;
    border-top: 1rem solid;
    padding: 1rem;
    width: 40px;
    margin-left: 2rem;
    margin-right: 2rem ;
    float: right;

}