label{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
}
legend{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Rammetto One', cursive;
    
}


#enviar{
    padding: .5rem;
    border-radius: 1rem;
}

#enviar:hover{
background: #2A89CB;
}