*, *::after, *::before, *:after, *:before {
    box-sizing: border-box;
}
body {
    background-color: bisque;
    margin: 3rem;
}

main {
    min-height: 60vh;
}
main button{
    color: maroon
}
.crono{
font-size: 4rem;
}


